@import "../../helpers/variables.module.scss";


.userItem_container {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.userItem__yourPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.userItem_box_btnPhoto {
    display: block;
    margin: 12px 24px 32px auto;
    text-align: right;
}


.userItem_button {
    position: relative;
    display: flex;
    width: 80px;
    height: 22px;
    margin-left: auto;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    padding: 0;
    background-color:$lightColor;
    border: none;
    justify-content: space-between;

}

.userDataForm_box {
    display: block;
    margin: 0 12px 44px 16px;
}

.userItem_field {
    text-align: left;
    color: #111111;
    margin-top: 10px;
    background-color: $lightColor;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;

}

.form_box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}

.userDataForm_field {
    display: block;
    width: 159px;
    height: 24px;
    box-sizing: border-box;
    background: $lightColor;
    border: 1px solid $lightColor;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: rgba(17, 17, 17, 0.6);

    padding: 11px 14px 12px;
    margin-top: 16px;

}


.iconEdit_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: $background;
    padding: 0;

}

.iconEdit_btn::before {
    position:absolute;

   
    content: '';
    

}