@import 'helpers/variables.module.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 12px;
}

.link {
  display: block;
  padding: 8px 28px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  color: inherit;

  background-color: $lightColor;
  border: 2px solid $accentColor;
  border-radius: 40px;

    &:hover, :focus {
        background-color: $accentColor;
        color: $lightColor;
    }
}

.link.active {
  background-color: $accentColor;
  color: $lightColor;
}

// ============== Tablet ======================

@media screen and (min-width: 768px) {
    .list {
        margin-bottom: 60px;
        gap: 16px 12px;
        width: 75%;
    }

    .link {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 1.35;
    }
}

// ============== Desktop ======================

@media screen and (min-width: 1280px) {
  .list {
    width: 850px;
  }
  .item_order {
    order: -1;
  }
}
