.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  z-index: 1200;
}

.modal__section {
  width: 280px;
  padding: 30px 20px;
  border-radius: 20px;
  font-family: 'Manrope';
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    padding: 40px 60px;
    width: 608px;
  }
}


