@import '../../helpers/variables.module.scss';

.logo {
  @media screen and (min-width: 768px) {
    width: 94px;
    height: 48px;
  }
}

.openMenu {
  padding-top: 4px;
  transition: fill 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.closeMenu {
  padding-top: 4px;
  stroke: #111;
  transition: stroke 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    stroke: $accentColor;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.heart_favorite{
  fill: $accentColor;;
}

.search {
  position: absolute;
  right: 8px;
  bottom: 8px;
  @media (min-width: 768px) {
    right: 58px;
    bottom: 10px;
  }
  @media (min-width: 1280px) {
    right: 332px;
  }
}

.search_reset {
  position: absolute;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
  stroke: #111;
  &:hover,
  &:focus {
    stroke: $accentColor;
  }

  @media (min-width: 768px) {
    right: 58px;
    bottom: 10px;
  }
  @media (min-width: 1280px) {
    right: 332px;
  }
}


.iconAddPet{
  @media (min-width: 768px) {
    background-color: $accentColor;
    padding: 7px;
    border-radius: 50px;
    margin-left: 12px;
    cursor: pointer;
  }
}

.iconAddNotice{
  @media (min-width: 768px) {
    background-color: $accentColor;
    padding: 10px;
    border-radius: 50px;
    margin-left: 8px;
    cursor: pointer;
  }
}

.male{
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;

  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

.iconClose{
  display: block;
width: 16px;
height: 16px;
margin-left: auto;
border: #111;
}

.iconDeleteNotice {
  margin-left: 13px;
  fill: #FF6101;
}

.google {
  display: flex;
  margin: 0 auto 6px;
  box-sizing: content-box;
  background-color: $lightColor;
  padding: 10px;
  cursor: pointer;
  border: 1px solid $accentColor;
  border-radius: 40px;

  &:hover, &:focus {
    background-color:rgba($color: #FF6101, $alpha: 0.15);
    border: 2px solid $accentColor;
  }
  

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin: 0 auto 0;
  }
}


