@import '../../helpers/variables.module.scss';

.logo {
  @media screen and (min-width: 768px) {
    width: 94px;
    height: 48px;
  }
}

.openMenu {
  padding-top: 4px;
  transition: fill 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.closeMenu {
  padding-top: 4px;
  stroke: #111;
  transition: stroke 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    stroke: $accentColor;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.heart {
  fill: $lightColor;
  opacity: 0.6;
  stroke: $accentColor;
}

.heart_favorite{
  fill: $accentColor;;
}

.search {
  position: absolute;
  right: 8px;
  bottom: 8px;
  @media (min-width: 768px) {
    right: 58px;
    bottom: 10px;
  }
  @media (min-width: 1280px) {
    right: 332px;
  }
}

.search_reset {
  position: absolute;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
  stroke: #111;
  &:hover,
  &:focus {
    stroke: $accentColor;
  }

  @media (min-width: 768px) {
    right: 58px;
    bottom: 10px;
  }
  @media (min-width: 1280px) {
    right: 332px;
  }
}


.iconAddAvatar 
  :hover,
  :focus {
      fill: $accentColor;
}

.iconEdit  {
  fill: #000000;

@media screen and (min-width: 768px) {
  width: 20px;
  height: 20px;
  }
}

.iconEdit_active {
  fill: $accentColor;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.iconLogout 
  :hover,
  :focus {
    fill: $accentColor;
}

.iconAddPet {
  border: 1px solid $accentColor;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: $accentColor;

}


.iconDelete 
    :hover,
    :focus {
      fill: $accentColor;
}

.iconDone {
  fill: $accentColor;

@media screen and (min-width: 768px) {
  width: 20px;
  height: 20px;
  }
}

.iconEditAvatar {
  &:hover {
      fill: #ff6101;
    }
}

.edit_avatar {
  fill: $accentColor;
  margin-bottom: -2px;
  margin-right: 5px;

  &:hover {
    fill: #ff6101;
  }
}

.logout {
  display: block;
  fill: $lightColor;
  opacity: 0.6;
  stroke: $accentColor;
    &:hover,
    &:focus {
      stroke: $darkColor;
      // fill: $darkColor;
    }
}


