.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  z-index: 200;
  overflow: auto;
}

.modal__section {
  border-radius: 20px;
  background-color: #ffffff;
}

// @media(min-height:799px) {
//   .modal__section {padding-top: 50px;}
// }
