@import '../../helpers/variables.module.scss';

.logoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:first-child {
        height: 42px;
    }

    @media screen and (min-width: 768px) {
        &:first-child {
            height: 48px;
        }
    }
}