@import '../../../helpers/variables.module.scss';

.cont {
  display: flex;
  flex-direction: row-reverse;
}

.button {
  position: absolute;
  top: 240px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 44px;

  border-radius: 50px;
  border: none;
  font-size: 12px;
  line-height: 20px;
  color: #111111;
  background-color: transparent;

  transition: fill 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 27px;
    top: 373px;
  }

  @media (min-width: 1280px) {
    top: 335px;
  }
}
