@import '../../../helpers/variables.module.scss';
@import '../../../helpers/buttons.module.scss';

.form__input_container{
  text-align: start;
  margin-bottom: 28px;
  position: relative;
  //padding-left: 14px;


&:nth-child(3){
  margin-bottom: 50px;
}
}

.form__label{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: rgba(17, 17, 17, 0.6);
  position: absolute;
  top: 11px;
  left: 15px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: $background;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: rgba(17, 17, 17, 0.6);

  padding: 11px 14px 12px;

  &:focus-within {
    border: 1px solid $accentColor;
    outline: none;
  }
  &:focus-within ~ .form__label, &:not(:placeholder-shown) ~ .form__label{
    top: -10px;
    left: 33px;
    color: $accentColor;
    background-color: $background;
  }
}

.form__input_phone{
    padding-left: 90px;
}

.form__input_number{
  display: none;
  align-items: center;
  position: absolute;
  top: 11px;
  left: 15px;
}

.form__input:focus-within ~ .form__input_number, .form__input:not(:placeholder-shown) ~ .form__input_number{
  display: flex;
}

.form__input_number > p{
  margin-left: 5px;
  font-weight: 500;
}

.form__input__password_show{
position: absolute;
top: 25%;
right: 15px;
  &:focus, &:hover {
    color: $accentColor;
  }
}

.error__mesage{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: $accentColor;
  padding-left: 15px;
  position: absolute;
}

.form__login__input{
    margin-bottom: 40px;
}

.form__button {
  width: 100%;
}

.form__back_button {
  display: block;
  background-color: transparent;

  margin-bottom: 5px;
}

.form__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(17, 17, 17, 0.6);

  margin-top: 40px;
}
.description__nav {
  color: #3091eb;
}


@media screen and (min-width: 768px) {
  .form__input_container{
    margin-bottom: 32px;
  }

  .form__label {
    font-size: 18px;
    line-height: 25px;
    top: 14px;
    left: 34px;
  }
  .form__input {
    padding: 14px 32px 13px;
    font-size: 18px;
    line-height: 25px;
  }
  .error__mesage{
    font-size: 16px;
  }

  .form__input_number{
    top: 16px;
    left: 33px;
  }
  .form__input_phone{
    padding-left: 110px;
}
.form__input_number > p{
  font-size: 18px;
}
}

.loading__modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1200;
}