@import "helpers/variables.module.scss";

.main {
    padding-top: 42px;
    padding-bottom: 100px;
    background-color: $background;
}

.main_title {
    line-height: 1.38;
    text-align: center;
    margin-bottom: 28px;
}

// ============== Tablet ======================

@media screen and (min-width: 768px) {
    .main {
        padding-top: 90px;
    }

    .main_title {
        font-size: 48px;
        line-height: 1.38;
        margin-bottom: 40px;
    }
}

// ============== Desktop ======================

@media screen and (min-width: 1280px) {
    .main {
        padding-top: 59px;
        padding-bottom: 200px;
    }
}