@import "helpers/variables.module.scss";

.main {
    padding-top: 42px;
    padding-bottom: 100px;
    background-color: $background;
}

.main_title {
    line-height: 1.38;
    text-align: center;
}
