@import "../../helpers/variables.module.scss";

.logout_button {
    // width: 63px;
    display: flex;
    flex-direction: row;
    height: 22px;
    margin-left: 16px;
    // margin-left: auto;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    background-color: $lightColor;
    color: rgba(17, 17, 17, 0.6);
    // color: $darkColor;
    // opacity: 0.6;
    border: none;

        &:hover,
        &:focus {
            color: $accentColor;
            stroke: $darkColor;
            fill: $darkColor;
        }
                &:hover .logout,
                &:focus .logout{
                    stroke: $darkColor;
                }
}



.logout_text {
    margin-left: 8px;
}

// .logout_box {
//     display: block;
//     margin: 10px 12px 0 auto;
//     text-align: right;
// }