@import "../../helpers/variables.module.scss";

.logout_button {
    position: relative;
    width: 75px;
    display: flex;
    justify-content: space-between;
    height: 22px;
    margin-left: auto;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    background-color: $lightColor;
    border: none;
    
}

.logout_button::before {
    position: absolute;
    content: "";
}

.logout_box {
    display: block;

    text-align: right;
}