@import '../../helpers/container.module.scss';
@import '../../helpers/variables.module.scss';

.login__container {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    text-align: center;

    background: $background;
    background-image: url(../../images/wave-mobile-auth.png);
    background-position: bottom;
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
}

.login__form__section {
    // max-width: 700px;
    
    margin-left: auto;
    margin-right: auto;
}

.login__tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin: 0px 0px 40px;
    padding: 0;
}

.login__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: $background;
    border: 1px solid rgba(245, 146, 86, 0.5);
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: rgba(17, 17, 17, 0.6);

    padding: 12px 14px 12px;
    margin-top: 16px;

    &:first-child {
        margin-top: 0px;
    }

    &:nth-child(2) {
        margin-bottom: 40px;
    }

}

.login__button {
    padding: 10px 0px;
    background: $accentColor;
    border-radius: 40px;
    color: $lightColor;
    letter-spacing: 0.04em;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    width: 100%;
    cursor: pointer;
    border-width: 0;

    &:hover,
    &:focus {
        background: #cf7c48;
    }
}

.login__description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: rgba(17, 17, 17, 0.6);

    margin-top: 40px;
}

.login__nav {
    color: #3091eb;
}

@media screen and (min-width: 768px) {
    .login__container {
        padding: 170px 80px 266px;
        background-image: url(../../images/wave-tablet-auth.png);
        background-size: 1410px, 538px, contain;
        background-position: bottom -150px right -250px;
    }

    .login__form__section {
        background: $lightColor;
        box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
        border-radius: 40px;
        padding: 60px 80px 40px;
    }

    .login__tittle {
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
    }

    .login__input {
        padding: 14px 32px 13px;
        font-size: 18px;
        line-height: 25px;
    }

    .login__button {
        padding: 8, 5px 0px;
    }
}

@media screen and (min-width: 1280px) {
    .login__container {
        padding: 44px 330px 114px;
        background-position: bottom  right ;
        background-image: url(../../images/wave-desktop-auth.png);
    }

    .login__form__section {
        padding: 60px 80px;
        width: 50vw;
    }

    .login__button {
        padding: 10, 5px 0px;
    }
}