@import '../../helpers/variables.module.scss';

.background {
    padding-top: 105px;
    background-image: url(../../images/portrait-mobile@1x.png), url(../../images/wave-mobile-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: contain;
    height: 100vh;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../../images/portrait-mobile@2x.png), url(../../images/wave-mobile-home.png);
      }
}

.title {
font-weight: 700;
font-size: 32px;
line-height: 1.4;
color: $darkColor;
}