@import "../../helpers/variables.module.scss";



.petsData_title_box {
    display: flex;
    justify-content: space-between;
    background-color: $background;
    align-items: center;
    // margin: 20px 0 24px 0;

@media screen and (min-width: 768px) {
    margin: 20px 0 24px 0;

    }

    @media screen and (min-width: 1280px) {}
}


.petsData_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    margin: 0;

@media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.4;


}

@media screen and (min-width: 1280px) {}
}


.addPetModal_buttonBox {
    display: flex;
}

.addPetModal_button {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    width: 135px;
    height: 40px;
    background-color: $background;
    border: none;
}

.addPetModal_button::before {
    position: absolute;
    content: "";
}
.petModal_button {
    background-color: $lightColor;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    border: 2px solid $accentColor;
    width: 100%;
    text-align: center;
    height: 40px;

    &:hover,
    &:focus {
        color: $lightColor;
        background-color: $accentColor;
    }
}

.petModal_box_btn {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;

}


.petModal_button:first-child {
    margin-bottom: 12px;
}

.petsData__container {
    box-sizing: border-box;
    text-align: center;
    background:$background;
    background-position: bottom;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    }




.userItem {
    font-size: 15px;
    text-align: center;
    color: rgb(29, 29, 30);
    margin-top: 10px;
    background-color: rgb(7, 176, 192);

}

.card_box {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}

