/* @import-normalize;  bring in normalize.css styles */

@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@500&display=swap');


/* html {
  background-color: #fdf7f2;
} */

/* light theme */

html[data-theme='light'] {
    --background-color: #fdf7f2;
    --text-color:#111;
    --card-color:#ffffff;
    --icon-edit-pet: #111;
    --notices-categories:#ffffff;
    --learn-more-btn:#ffffff;
    --delete-btn: #ffffff;
    --search-input: #535353;
    --background-auth-nav-login:#ffffff;
    --background-auth-nav-register: #ffffff;
    --modal-input:#ffffff;
    --modal-close: #ffffff;
    --modal-next-btn-color:#cccccc;
    --modal-next-btn-text:#666666;
    --shadow: rgba(0, 0, 0, 0.11);
    --icon-menu-open:#111;
    --icon-menu-close:#111;
    
}

/* dark theme */

html[data-theme='dark'] {
  --background-color: #262031;
  --text-color: #dfd6d6;
  --card-color: #6a6a97;
  --icon-edit-pet:#dfd6d6;
  --notices-categories: #6a6a97;
  --learn-more-btn: #6a6a97;
  --delete-btn:#6a6a97;
  --search-input: #dfd6d6;
  --auth-nav-text: #ffffff;
  --background-auth-nav-login: #6a6a97;
  --background-auth-nav-register: #6a6a97;
  --modal-input: #b6b6e2;
  --modal-close: #6a6a97;
  --modal-next-btn-color: #c87070;
  --modal-next-btn-text: #faeded;
  --shadow: #363655;
  --icon-menu-open: #ffffff;
  --icon-menu-close: #ffffff;

}


* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111111;
  display: block;
  background-color: var(--background-color);
  
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}