.div {
    position: relative;
    height: 95vh;
    overflow-y: scroll;
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
        height: 92vh;
    }

    @media screen and (min-width: 1280px) {
        height: 100vh;
    }
}